* {
    text-align: center;
}

body {
    background: darkgray;
}

canvas {
    margin-top: 2%;
}

.title {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    margin-top: 3%;
}

button {
    background-color: grey;
    border: none;
    box-shadow: 0 5px 0 black;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: grey;
    cursor: pointer;
  }
  
  button:active {
    box-shadow: none;
    top: 5px;
  }

input {
    background-color: grey;
    border: none;
    box-shadow: 0 5px 0 black;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-transform: uppercase;
    outline: none;
}

input::placeholder {
    color: white;
}

input:hover {
    cursor: pointer;
    
}